In [1]:
# Creating A Variable

In [2]:
x=7
x

7

In [3]:
# Arithematic Operators / Calculation with Variables

In [4]:
x+2  # (+) Addition operator

9

In [5]:
x-2  # (-) Subraction operator

5

In [6]:
x*2 # (*) Multiplication operator

14

In [7]:
x/2 #(/) Division operator

3.5

In [8]:
x**2 #(**) Exponent/Square operator

49

In [9]:
x%2 #(%) Modulus/Reminder operator

1

Data Types in Python.
Note:
Mutability: Data types that can be modified after creation,This includes - (Lists,Dictionaries,Sets)
Immutabilty: Data types that can't be modified after creation,This includes - (Strings,Numbers,Tuples,Frozensets)

In [10]:
# Strings
str1='Hello'
str1

'Hello'

In [11]:
# Indexing of String (Index in python start with 0)
# Use [] square brackets,Inside Square brackets type the index number

In [12]:
str1[0]  #Forward Direction

'H'

In [13]:
str1[-1] #Backward Direction

'o'

In [14]:
str1 + 'Python'  #Concentination,

'HelloPython'

In [15]:
#str1[0]='F'  # this will give typeError Proving string are immutable

string Method --sytnax:string_name=method_name()
str1.lower()           --String to lowercase
str1.upper()           --String to uppercase
str1.count('H')        --Count the element i.e Counts 'H' 
str1.replace('H','F')  --Replace the element i.e replace 'H' with 'F'
str1.strip()           --Strip Whitespaces

In [16]:
# Numbers

In [17]:
num=10
num

10

In [18]:
num1=7.7
num1

7.7

In [19]:
# type() give type of data
print(type(num))
print(type(num1))

<class 'int'>
<class 'float'>

In [20]:
#Boolean - True & False

In [21]:
1==1

True

In [22]:
1>1

False

In [23]:
#Lists  --[], can take dublicate element

In [24]:
list1=[1,2,3,4,5]    # integer list
list1

[1, 2, 3, 4, 5]

In [25]:
list2=['Hello','Python',"Programming","Data","Science"]     # String list
list2

['Hello', 'Python', 'Programming', 'Data', 'Science']

In [26]:
list3=[1,2,3,4,"Hello"]     # integer & string list
list3

[1, 2, 3, 4, 'Hello']

In [27]:
#Changing Element / Checking Mutability of list
list3[4]=5
list3

[1, 2, 3, 4, 5]

In [28]:
len(list1)     #len() gives the length in python

5

In [29]:
# Accessing a element  from a list
print(list1[3])
print(list2[-1])

4
Science

In [30]:
#Slicing of lists
list2[1:3]      #select items at index 1 and 2

['Python', 'Programming']

In [31]:
list2[1:]      #select items at 1 ingoring index 0

['Python', 'Programming', 'Data', 'Science']

In [32]:
list2[:4]      #select all items, ingoring index 4

['Hello', 'Python', 'Programming', 'Data']

In [33]:
list2[:]     # copy the entire list

['Hello', 'Python', 'Programming', 'Data', 'Science']

In [34]:
list1 + list2  # Combining / merging two lists  | list operation

[1, 2, 3, 4, 5, 'Hello', 'Python', 'Programming', 'Data', 'Science']

In [35]:
list1*2       # list operation multiplying same list

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

list Methods --syntax: list_name=method_name()

list1.index(1)        --Get the index of the element, where 1 is the element/object name
list1.count(1)        --count an element, where 1 is the element/object name
list1.append('a')     --Append/add a element, where 'a' is the element/object name
list1.extend('b')     --Append/add a element, where 'b' is the element/object name
list1.remove(3)       --Remove an element, where 3 is the element/object name
del.list1[3]          --delete the element at that index, where 3 is the index
list1.pop(4)          --delete the element at that index, where 4 is the index
list1.reverse()       --reverse the list
list1.insert(0,6)     --insert an element at the given index, where 0 is the index,and 6 is the object name
list1.sort()          --Sort the list
list1.sorted()        --Sort the list in reverse/desc,where reverse=True

In [36]:
#Sets --{}, no dublicate element

In [37]:
set1={1,2,3,5,4}
set1

{1, 2, 3, 4, 5}

In [38]:
set2={5,6,7}
set2

{5, 6, 7}

In [39]:
#function of sets
set2.add(8)     # add an element
set2

{5, 6, 7, 8}

In [40]:
set2.remove(8)  #removes an element
set2

{5, 6, 7}

Set methods --syntax: set_name=method_name()

set1.intersection(set2)   --identify common elements in two sets
set1.difference(set2)     --identify uncommon elements in two sets
set1.union(set2)          --add/merge elements of both sets,no dublicate are not merged
set1.pop()                --delete an element
set1.clear()              --clear the entire sets

In [41]:
#Frozensets --{}, similar to sets, methods are same as of sets, but immutable

In [42]:
fs1=[1,2,3,4]
f1=frozenset(fs1)
f1

frozenset({1, 2, 3, 4})

In [43]:
type(f1)

frozenset

In [44]:
#Tuples --(), similar to list, but are immutable

In [45]:
tup=(1,2,3,4,5,5)
tup

(1, 2, 3, 4, 5, 5)

In [46]:
type(tup)

tuple

In [47]:
#Ranges 
ran=range(10)
ran

range(0, 10)

In [48]:
#converting ranges to list, so tht slicing is possible
list(ran)[1:5]

[1, 2, 3, 4]

In [49]:
#Dictionaries --{},key-value pairs, key must be unique,value dont have to unique
dict1={'color':'Red','pointer':5,'color1':'Green','pointer1':7,'color2':'Blue'}
dict1

{'color': 'Red',
 'pointer': 5,
 'color1': 'Green',
 'pointer1': 7,
 'color2': 'Blue'}

In [50]:
#Accessing element of Dictionaries
dict1['pointer']                  # key_name

5

In [51]:
#Adding a new key-value pair
dict1['pointer2']='7'
dict1

{'color': 'Red',
 'pointer': 5,
 'color1': 'Green',
 'pointer1': 7,
 'color2': 'Blue',
 'pointer2': '7'}

In [52]:
#deleting a Key-value pair
del dict1['pointer2']
dict1

{'color': 'Red',
 'pointer': 5,
 'color1': 'Green',
 'pointer1': 7,
 'color2': 'Blue'}

In [53]:
#Mutating/Modifing dictionaries
dict1['pointer']=6
dict1

{'color': 'Red',
 'pointer': 6,
 'color1': 'Green',
 'pointer1': 7,
 'color2': 'Blue'}

In [54]:
#Methods of Dictionaries
print(dict1.keys())     #gives a lists of keys
print(dict1.values())   #gives a lists of values
print(dict1.items())    #gives a lists of tuples each containing key-value pair

#To access these list returned by these method use list()
#list(dict1.keys())    --now apply indexing/slicing

dict_keys(['color', 'pointer', 'color1', 'pointer1', 'color2'])
dict_values(['Red', 6, 'Green', 7, 'Blue'])
dict_items([('color', 'Red'), ('pointer', 6), ('color1', 'Green'), ('pointer1', 7), ('color2', 'Blue')])

In [55]:
#Type Conversion -- Data types conversion
n=15             #integer
print(n)
type(n)

15

int

In [56]:
strn=str(n)    #str(), int to string
print(strn)
type(strn)

15

str

In [57]:
fn=float(n)   #float(), int to float
print(fn)
type(fn)

15.0

float

In [58]:
i=int(fn)   #int(), float to int
print(i)
type(i)

15

int

In [59]:
l=list(tup)      #list(),tuple to list 
print(l)
t=tuple(list1)   #tuple(),list to tuple
print(t)
s=set(list1)     #set(),list to set
print(s)

[1, 2, 3, 4, 5, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}

In [60]:
#Conditional Statements --if, if else, elif

In [61]:
#if statement
z=10
if z>5:
    print('z is greater')

z is greater

In [62]:
#if else statement
z=10
if z>15:
    print('z is greater')
else:
    print('z is not greater')

z is not greater

In [63]:
#elif statement
z=10
if z>15:
    print('z is greater')
elif z==10:
    print('z is equal')
else:
    print('z is not greater')

z is equal

In [64]:
#Loops --for,for else, while, while true, while else

In [65]:
#for loop --syntax: for val in sequence, where val=iterating variable, sequence=lists,tuple etc

seq1=[1,2,3,4]    #sequence to be looped/iterated
for i in seq1:
    print(i)

1
2
3
4

In [66]:
#for else example   
for i in seq1:
    print(i)
else:
    print('Sequence is over')

1
2
3
4
Sequence is over

In [67]:
#enumerate() gives list with its index
for i,j in enumerate(seq1):
    print(i,j)

0 1
1 2
2 3
3 4

In [68]:
#while loop --excutes unknown/infinte number of times as long as the expression is true
y=1
while y<=10:    # after y=10 then he loop will end 
    print(y)
    y=y+1

1
2
3
4
5
6
7
8
9
10

In [69]:
#while true  --excutes till terminated
#while True: --Remove '#' and run 
   # print('Do something')    #Interrupt the kernal to stop the loop

In [70]:
#while else -- else is excuted only when loop condition is false/end
y=1
while y<=10:    # after y=10 then he loop will end 
    print(y)
    y=y+1
else:
    print('Loop is Ended')

1
2
3
4
5
6
7
8
9
10
Loop is Ended

In [71]:
#Nested Structures -- nested if, for, while

In [72]:
#Nested if
z=10
if type(z) is int:
    if z==10:
        print(z,'z is int')

10 z is int

In [73]:
#Nested for
a=[4,5,6]
b=[10,20,30]
for i in a:
    for j in b:
        print(i*j)

40
80
120
50
100
150
60
120
180

In [74]:
#Nested while
c=1
while c<=5:
    d=1
    c=c+1
    while d<=2:
        print(d)
        d+=1      # is same as d=d+1

1
2
1
2
1
2
1
2
1
2

In [75]:
#Control Statements --break, continue, pass

In [76]:
#break statement --End/Break the loop
for n in range(10):
    if n==5:
        break     #keyword
    print(n)

0
1
2
3
4

In [77]:
#Continue statement --Skip a iteration of the loop
for n in range(10):
    if n==5:
        continue     #keyword
    print(n)

0
1
2
3
4
6
7
8
9

In [78]:
#pass statement -- null the operation
for n in range(10):
    pass          #keyword

In [79]:
#Exceptions
#Two types of Errors --syntax error, Exception

In [80]:
#Exceptions Handling --try-except block, try-except-else block, try finally block

In [81]:
#Try-except block
n=5
try:
    print(5/0)
except ZeroDivisionError as e:  #here exception is defined ZeroDivisionError
    print(e,"Not Divisble")

division by zero Not Divisble

In [82]:
n=5
try:
    print(5/0)
except:                       # Not defining the exception as sometimes we dont know
    print("Not Divisble")

Not Divisble

In [83]:
#try-except-else block --if no exception is raised else part is excuted
try:
    print(4/2)
except:
    print("Some error")
else:
    print("No exception raised by the except block")

2.0
No exception raised by the except block

In [84]:
#try finally block   --independent of errors/exceptions finally block is excuted
#No error code for finally block
try:
    print(4/2)
except:
    print("Some error")
finally:
    print("i don't care,im getting printed")

2.0
i don't care,im getting printed

In [85]:
#with error code for finally block
try:
    print(4/0)
except:
    print("Not Divisible Error")
finally:
    print("There is error but i don't care,im getting printed")

Not Divisible Error
There is error but i don't care,im getting printed

In [86]:
#Function --Organized block of code, reuseable
#Defining a function -- def func_name(), where def=keyword, followed by function name of your choice

def myfunc():               #defines a function
    "My First Function"     #describe the func, also called as docstring
    print('hello python')

In [87]:
#calling a function

myfunc()  #call a func by its name

hello python

In [88]:
#function are mutable
def myfunc():
    print('Hii python')   #changing the code
myfunc()

Hii python

In [89]:
#Function --Parameters & Arguments

In [90]:
#Parameters --Written inside the parenthesis while defining a func

def myfunc(x):         #Here,x is the parameter
    "Func with Parameter"
    print(x)

In [91]:
#Arguments --Written when calling a func
myfunc("This is argument for x parameter")

This is argument for x parameter

In [92]:
#Multiple Parameter in one func

def myfunc1(x,y):             #defining func with multiple parameter
    print("hello"+ " " + x)
    print("hello"+ " "+ y)

In [93]:
#Multiple Argument when calling a func

myfunc1("Data","Science")

hello Data
hello Science

In [94]:
#Types of Arguments -- Positional, Keyword, Default argument

#Positional Arguments --it follows the parameter position

def myfunc(x,y,z):
    sum=(x+y)*z   
    return sum     #return statement

myfunc(1,2,3)     #Here, x=1,y=2,z=3,thus following parameter position,
                  #No.of parameter = No. of arguments,if not then type error

9

In [95]:
#keyword Argument --assign/specify parameter name with argument 
def myfunc(x,y,z):
    sum=(x+y)*z   
    return sum
myfunc(z=3,x=1,y=2)  #specify parameter value

9

In [96]:
#Combining Positional & Keyword Argument --Positional argument follows keyword argument
def myfunc(x,y,z):
    sum=(x+y)*z   
    return sum
myfunc(1,2,z=3)

9

In [97]:
#Default arguments --defining argument in the func itself
def myfunc(x,y,z=3):
    sum=(x+y)*z   
    return sum
myfunc(1,2)

9

In [98]:
#When you dont know how many parameter you want in a func

# (*) Single asterisk for positional arguments --This will return the other argument in Tuple
# (**) Two asterisk for keyword arguments      --This will return the other argument in Dictionaries
def func(x,*y):
    print (x)
    print (y)
func(1,2,3)

def func1(**ky):
    print(ky)
func1(a=1,b=2,c=3)

1
(2, 3)
{'a': 1, 'b': 2, 'c': 3}

In [99]:
#Class --A Data type tht contain its own variables,attributes & function

#Defining a class --syntax: class class_name():

class phone():        # where class=keyword, firstclass=class_name
    "Give Detail of phone"
    def __init__(self, phonename, model, price):    #initializing variable for the class
        self.phonename = phonename
        self.model = model
        self.price = price
        
#__init__ is a method used to initial variable for a class
#self must be the fisrt parameter, its just a reference to the class

    def print_phone(self):             #defining a func for the class     
        print("Phone name is:",self.phonename)
        print("Phone model is:",self.model)
        print("Phone price is:",self.price)

In [100]:
#creating object for a class --syntax: object_name=class_name()
detail=phone("Redmi","Note 8",12000)

#calling method/func of class through object
detail.phonename

'Redmi'

In [101]:
#Function for object attributes
detail.phonename                          #check attribute value
detail.phonename="Micromax"               #changing attribute value
getattr(detail,'phonename')               #gives/check attribute value
setattr(detail,'phonename','Redmi')       #set/change attribute value
hasattr(detail,'phonename')               #Check whether an attribute exist or not
#delattr(detail,'phonename')              #deletes an attribute
isinstance(detail,phone)                  #to Confirm that object "detail" is a object of class"phone"

#Note: Run these code individually

True

In [102]:
#Class Inheritance -- new class is called derived class, existing class is called base class
class Person():
    def __init__(self,name):
        self.name=name
    def getname(self):
        print("Name is:",self.name)
    def employee(self):
        return False
class Employee(Person):      #class employee inherit from class person
    def employee(self):
        return True
emp=Person("John")
print(emp.name,emp.employee())
emp=Employee("David")
print(emp.name,emp.employee())

John False
David True

In [103]:
#Files --opening & Reading

#open a file --syntax:obj_name=open(filename or location,mode)
#where obj_name = variable / object to store the file, 
#filename or location = name of the file to open Or the location of the file
#mode= which mode you want to open the file,hence
#there are multiple mode in python -- 
#r=reading a file, 
#w=writing a file, 
#a=appending a file at the end
#b=binary file with no text
#x=exclusive creation ,for exclusively creating a file & fails if the file already exists

In [104]:
#myfile=open(file_location,"r") -- opening in read mode
#myfile.mode                    -- checking the mode

In [105]:
#Access & print Data from a file --3 methods
#Method 1
#myfile.read() -- give the enitre file 

#Note: when file is read then the cursor location is at the end of the file,
#so that file cannot be read again because file is over,
#So Cursor needs to be at the start to read that file again,to that use seek() method

#syntax:seek(position_number)
#myfile.seek(0)     --Now cursor will be positioned at the start,and the file can be read again

#tell() --tellsthe position of the cursor
#myfile.tell()

In [106]:
#Method 2
#myfile.readline() -- it return the file line by line,one line at a time

In [107]:
#Method 3
#myfile.readlines() --it return a list,where each element is a line

In [108]:
#myfile=open(file_location,"x")

#if a file of same name exist in the given location,then this will throw file exist error
#if a file doesn't exist it will create a file of that name at that location

In [109]:
#Writing a file -- use 'w' mode

#newfile=open(file_location,'w')  --file created

#newfile.write('This a File written in w mode') -- it will give the no of character written

#after writing ths file to save use
#newfile.close()       --this will save the changes/data you wrote

#to check if the file is closed or not
#newfile.closed        --this will return true if the file is closed,else false

In [110]:
#writelines() -- this methods takes a sequences usually a list and writes the file
#newfile.writelines([1,2,3,4])   --writes a file
#newfile.close()                 --saves the data/changes

In [111]:
#to append the file in the end
#newfile=open(file_location,'a')            --opens the file for appending
#newfile.write('this will be appended')     --appends at the ends
#newfile.close()                            --save the data/changes

In [112]:
#To open file for both reading & Writing
#Use: r+, w+, a+

#Note: 
#To run the code of files remove the '#' and run
#Also to see changes in the file,open the in the notepad or open the using r mode.

In [113]:
#Installing Libraries

#Syntax: !pip install libary_name

!pip install numpy

Requirement already satisfied: numpy in c:\users\akaash\anaconda3\lib\site-packages (1.20.1)

In [114]:
#Importing Libraries

#Syntax: import libary_name as alias_name

import numpy as np

Python Basics_cheetsheet includes
1.Defining a Variable
2.Arithematic operators
3.Data Types in Python(String,Number,Boolean,Lists,Tuples,Sets,Frozensets,Dictionaries)
4.Indexing & Slicing
5.Type Conversion
6.Conditional Statements(if,if-else,elif)
7.Loop Statements(for,while,for-else,while-true,while-else)
8.Control Statement(break,continue,pass)
9.Exception handling
10.Functions in Python
11.Classes in Python
12.Files in Python
13.Libraries in Python